{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_book_index') }}">back to list</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function removeBookFile(e) {
            console.log(e.dataset.fileType);
            let url;
            if (e.dataset.fileType === 'file') {
                url = '{{ path('app_book_file_delete', {id: book.id}) }}';
            } else {
                url = '{{ path('app_book_cover_delete', {id: book.id}) }}';
            }
            $.ajax({
                url: url,
                method: 'DELETE'
            }).done(function () {
                location.reload();
            })
        }
    </script>
{% endblock %}
